<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://relevate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/43b4bb12-b882-46e7-93a4-0e6afb14206a/resourceGroups/relevate/providers/Microsoft.Web/sites/relevate</ResourceId>
    <UserName>$relevate</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://relevate.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>